extends layout

block content
  h1 #{title}: #{laptop.title}

  p #[strong Manufacturer: ]
    a(href=laptop.manufacturer.url) #{laptop.manufacturer.name}
  p #[strong Description: ] #{laptop.desc}
  p #[strong Price: ] #{laptop.price}
  p #[strong Stock: ] #{laptop.stock}
  p #[strong Category: ]
    a(href=laptop.category.url) #{laptop.category.name}