extends layout

block content

  h1 Manufacturer: #{manufacturer.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Laptops

    dl
      each laptop in manufacturer_laptops
        dt
          a(href=laptop.url) #{laptop.name}
        dd #{laptop.desc}

      else
        p This manufacturer has no laptops.
  hr
  p 
    a(href=manufacturer.url+'/delete') Delete Manufacturer 
  p 
    a(href=manufacturer.url+'/update') Update Manufacturer